body{
font-family:'Inter',sans-serif;
margin:0;
background:#0f0f0f;
color:white;
line-height:1.6;
}

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:center;
gap:40px;
padding:80px 20px;
background:linear-gradient(120deg,#ff7a18,#ffb347);
color:black;
animation:fadeIn 1s ease;
}

.profile{
width:120px;
border-radius:50%;
box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.logo{
width:120px;
}

/* NAV BOXES */

.nav-box-section{
